[version]
current = "0.1.1"

# Example of a semver regexp.
# Make sure this matches current_version before
# using tbump
regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  '''

[git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

# For each file to patch, add a [[file]] config section containing
# the path of the file, relative to the tbump.toml location.
[[file]]
src = "pyproject.toml"
search = 'version = "'

#  [[before_commit]]
#  name = "check changelog"
#  cmd = "grep -q {current_version} Changelog.md"

[[after_push]]
name = "publish to pypi"
cmd = "poetry publish"
